<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home Admin</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
    <link href="https://unpkg.com/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <link th:href="@{/css/style.css}" rel="stylesheet" />
    <script type="text/javascript" th:src="@{/js/main.js}"></script>
</head>
<body>

<div th:replace="admin/header-admin"></div>
<div class="container-fluid ps-0">
    <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-12">
            <div th:replace="admin/sidebar.html"></div>
        </div>
        <div class="col-lg-9 col-md-8 col-sm-12 mt-3">
            <div class="table-responsive mx-5">
                <div class="table-wrapper">
                    <div class="table-title">
                        <div class="row">
                            <div class="col-sm-6">
                                <h2>Quản lý <b>nhân viên</b></h2>
                            </div>
                            <div class="col-sm-6">
                                <a href="#addProductModal" class="btn btn-success" data-bs-toggle="modal">
                                    <span>Thêm nhân viên mới</span></a>
                                <a href="#deleteEmployeeModal" class="btn btn-danger" data-bs-toggle="modal">
                                    <span>Xóa</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <table class="table table-striped table-hover">
                        <thead>
                        <tr>
                            <th>
							<span class="custom-checkbox">
								<input type="checkbox" id="selectAll">
								<label for="selectAll"></label>
							</span>
                            </th>
                            <th>Họ và tên</th>
                            <th>Giới tính</th>
                            <th>Mức lương</th>
                            <th>Chức vụ</th>
                            <th>Thao tác</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="user: ${users}">
                            <td>
							<span class="custom-checkbox">
								<input type="checkbox" id="checkbox1" name="options[]" value="1">
								<label for="checkbox1"></label>
							</span>
                            </td>
                            <td th:text="${user.getName()}"></td>
                            <td th:text="${user.getGender()}"></td>
                            <td th:text="${user.getSalary()}"></td>
                            <td th:text="${user.getOffice()}"></td>
                            <td>
                                <a href="#" class="edit"><i class="material-icons" data-bs-toggle="tooltip" title="Edit">&#xE254;</i></a>
                                <a href="#deleteEmployeeModal" data-bs-target="#deleteEmployeeModal" data-bs-toggle="modal">
                                    <i class="bi bi-trash" title="Delete" data-bs-toggle="tooltip" style="color: red"></i>
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="clearfix">
                        <ul class="pagination">
                            <li class="page-item">
                                <a th:if="${users.hasPrevious()}" class="page-link" th:href="@{/admin/staff(page=0)}">First</a>
                            </li>
                            <li class="page-item" th:classappend="${!users.hasPrevious()}  ? 'disabled' : ''">
                                <a class="page-link" th:if="${users.hasPrevious()}"
                                   th:href="@{/admin/staff(page=${users.previousPageable().pageNumber})}">Previous</a>
                            </li>
                            <li th:each="i : ${#numbers.sequence(0, users.totalPages - 1)}"
                                th:class="${i == users.number ? 'page-item active' : 'page-item'}"
                                th:if="${i >= users.number - 2 and i <= users.number + 2}">
                                <a th:if="${i >= 0}" class="page-link" th:href="@{/admin/staff(page=${i})}" th:text="${i + 1}"></a>
                            </li>
                            <li class="page-item" th:classappend="${!users.hasNext()} ? 'disabled':''">
                                <a class="page-link" th:if="${users.hasNext()}"
                                   th:href="@{/admin/staff(page=${users.nextPageable().pageNumber})}">Next</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" th:href="@{/admin/staff(page=${users.totalPages - 1 > 0 ? users.totalPages - 1 : 0})}">Last</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<div id="deleteEmployeeModal" class="modal fade" tabindex="-1" aria-labelledby="deleteEmployeeModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form>
                <div class="modal-header">
                    <h4 class="modal-title">Xóa nhân viên</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Bạn có chắc muốn xóa nhân viên này không?</p>
                    <p class="text-warning"><small>Thao tác này sẽ không thể hoàn lại.</small></p>
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-default" data-bs-dismiss="modal"  value="Hủy">
                    <input type="submit" class="btn btn-danger" value="Xóa">
                </div>
            </form>
        </div>
    </div>
</div>



<!-- Modal -->
<div class="modal fade" id="addProductModal" tabindex="-1" aria-labelledby="addProductModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addProductModalLabel">Thêm nhân viên mới</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="POST" action="/admin/staff/insert">
                    <div class="mb-3">
                        <label class="form-label">Họ và tên</label>
                        <input name="name" type="text" class="form-control"  placeholder="Nhập tên nhân viên">
                    </div>
                    <div class="mb-3">
                        <label for="productPrice" class="form-label">Giới tính</label>
                        <select name="gender" class="form-select" id="productPrice">
                            <option value="">Chọn giới tính</option>
                            <option value="Nam">Nữ</option>
                            <option value="Nữ">Nam</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Mức lương</label>
                        <input name="salary" type="number" class="form-control"  placeholder="Nhập mức lương">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Số điện thoại</label>
                        <input name="phone" type="number" class="form-control"  placeholder="Nhập số điện thoại">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Chức vụ</label>
                        <select name="office" class="form-select">
                            <option value="0">Chọn chức vụ</option>
                            <option value="Nhân viên bán hàng">Nhân viên bán hàng</option>
                            <option value="Thu ngân">Thu ngân</option>
                            <option value="Nhân viên kho">Nhân viên kho</option>
                            <option value="Quản lý">Quản lý</option>
                        </select>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
                        <button type="submit" class="btn btn-primary">Lưu</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div th:replace="admin/footer.html"></div>



<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"></script>
</body>
</html>