body{
    background-color: #f8f8fc;
    font-family: 'Roboto Slab';
    font-style: normal;
    line-height: 1.25rem;
    color: #333333;
    padding-bottom: 2px;
}
.menu-product{
    position: absolute;
    width: 272px;
    height: 32px;
    margin-left: 64px;
    margin-top: 169px;

    font-weight: 500;
    font-size: 24px;
    line-height: 32px;

    color: rgba(248, 249, 250, 0.99);
}
.rec-01{
    box-sizing: border-box;

    position: absolute;
    width: 317px;
    height: 54px;
    margin-left: 36px;
    margin-top: 158px;

    background: #023E8A;

    border: 1px solid #ADE8F4;
    border-radius: 10px;
}
.rec-02{
    position: absolute;
    width: 332px;
    height: 730px;
    left: 36px;
    top: 224px;
    background: #D9D9D9;
    border-radius: 30px;
}
.price{
    position: absolute;
    width: 130px;
    height: 32px;
    left: 131px;
    top: 240px;

    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    color: #000000;
}
.rec-03{
    position: absolute;
    width: 287px;
    height: 62px;
    left: 58px;
    top: 293px;

    background: #FFFFFF;
}
.text-01{
    position: absolute;
    width: 264px;
    height: 29px;
    left: 68px;
    top: 310px;

    font-weight: 400;
    font-size: 22px;
    line-height: 29px;

    color: #000000;
}
.line-01{
    position: absolute;
    width: 274px;
    height: 0px;
    left: 62px;
    top: 379px;

    border: 1px solid #000000;
}
.text-02{
    position: absolute;
    width: 147px;
    height: 32px;
    left: 127px;
    top: 406px;

    ;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;

    color: #000000;
}
.arrow{
    position: absolute;
    width: 30px;
    height: 30px;
    left: 335px;
    top: 438px;

    background: url(arrow.png);
    transform: matrix(0, -1, -1, 0, 0, 0);
}
.checkbox1{
    position: absolute;
    width: 25px;
    height: 25px;
    left: 58px;
    top: 460px;

    background: #FFFFFF;
}
.text-03{
    position: absolute;
    width: 34px;
    height: 32px;
    left: 110px;
    top: 456px;

    ;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;

    color: #000000;
}
.checkbox2{
    position: absolute;
    width: 25px;
    height: 25px;
    left: 232px;
    top: 460px;

    background: #FFFFFF;
}
.text-04{
    position: absolute;
    width: 60px;
    height: 32px;
    left: 284px;
    top: 456px;

    ;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;

    color: #000000;
}
.checkbox3{
    position: absolute;
    width: 25px;
    height: 25px;
    left: 58px;
    top: 510px;

    background: #FFFFFF;
}
.text-05{
    position: absolute;
    width: 65px;
    height: 32px;
    left: 108px;
    top: 508px;

    ;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;

    color: #000000;
}
.checkbox4{
    position: absolute;
    width: 25px;
    height: 25px;
    left: 232px;
    top: 510px;

    background: #FFFFFF;
}
.text-06{
    position: absolute;
    width: 46px;
    height: 32px;
    left: 282px;
    top: 508px;

    ;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;

    color: #000000;
}
.line-02{
    position: absolute;
    width: 274px;
    height: 0px;
    left: 66px;
    top: 611px;

    border: 1px solid #000000;
}
.text-07{
    position: absolute;
    width: 95px;
    height: 32px;
    left: 131px;
    top: 638px;

    ;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;

    color: #000000;
}
.checkbox5{
    position: absolute;
    width: 25px;
    height: 25px;
    left: 62px;
    top: 692px;

    background: #FFFFFF;
}
.checkbox6{
    position: absolute;
    width: 25px;
    height: 25px;
    left: 62px;
    top: 742px;

    background: #FFFFFF;
}
.checkbox7{
    position: absolute;
    width: 25px;
    height: 25px;
    left: 62px;
    top: 792px;

    background: #FFFFFF;
}
.checkbox8{
    position: absolute;
    width: 25px;
    height: 25px;
    left: 62px;
    top: 842px;

    background: #FFFFFF;
}
.text-08{
    position: absolute;
    width: 90px;
    height: 32px;
    left: 114px;
    top: 688px;

    ;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;

    color: #000000;
}
.text-09{
    position: absolute;
    width: 124px;
    height: 32px;
    left: 112px;
    top: 740px;

    ;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    /* identical to box height */


    color: #000000;
}
.text-10{
    position: absolute;
    width: 140px;
    height: 32px;
    left: 113px;
    top: 790px;

    ;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;

    color: #000000;
}
.text-11{
    position: absolute;
    width: 232px;
    height: 32px;
    left: 111px;
    top: 842px;

    ;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    /* identical to box height */


    color: #000000;
}
.text-12{
    position: absolute;
    width: 151px;
    height: 32px;
    left: 441px;
    top: 211px;

    ;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    /* identical to box height */


    color: #000000;
}
.rec-04{
    position: absolute;
    width: 167px;
    height: 50px;
    left: 614px;
    top: 206px;

    background: #D9D9D9;
}
.text-13{
    position: absolute;
    width: 128px;
    height: 37px;
    left: 653px;
    top: 214px;

    ;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;

    color: #000000;
}
.rec-05{
    position: absolute;
    width: 167px;
    height: 50px;
    left: 803px;
    top: 206px;

    background: #D9D9D9;
}
.text-14{
    position: absolute;
    width: 128px;
    height: 37px;
    left: 829px;
    top: 214px;

    ;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;

    color: #000000;
}
.rec-06{
    position: absolute;
    width: 167px;
    height: 50px;
    left: 992px;
    top: 206px;

    background: #D9D9D9;
}
.text-15{
    position: absolute;
    width: 128px;
    height: 37px;
    left: 1018px;
    top: 214px;

    ;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;

    color: #000000;
}
.rec-detail{
    position: absolute;
    width: 395px;
    height: 250px;

    background: #D9D9D9;
    border-radius: 30px;
}
.rec-001{
    left: 414px;
    top: 314px;
}
.rec-002{
    left: 827px;
    top: 314px;
}
.rec-003{
    left: 1240px;
    top: 314px;
}
.img{
    box-sizing: border-box;

    position: absolute;
    width: 129px;
    height: 129px;

    background: #F5F5F5;
    border: 1px solid #000000; 
}
.img-01{
    left: 441px;
    top: 337px;
}
.img-02{
    left: 855px;
    top: 337px;
}
.img-03{
    left: 1268px;
    top: 337px;
}
.product-name{
    position: absolute;
    width: 248px;
    height: 32px;

    ;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    /* identical to box height */


    color: #000000;
}
.pn-01{
    left: 585px;
    top: 330px;
}
.pn-02{
    left: 1000px;
    top: 330px;
}
.pn-03{
    left: 1410px;
    top: 330px;
}
.product-info{
    position: absolute;
    width: 197px;
    height: 37px;

    ;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;

    color: #000000;
}
.pi-01{
    left: 585px;
    top: 389px;
}
.pi-02{
    left: 1000px;
    top: 389px;
}
.pi-03{
    left: 1410px;
    top: 389px;
}
.line{
    position: absolute;
    width: 305px;
    height: 0px;
    left: 453px;
    top: 487px;

    border: 1.5px dashed #000000;
}
.line-001{
    left: 453px;
    top: 487px;
}
.line-002{
    left: 866px;
    top: 487px;
}
.line-003{
    left: 1279px;
    top: 487px;
}
.text-16{
    position: absolute;
    width: 200px;
    height: 32px;
    left: 441px;
    top: 508px;

    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    /* identical to box height */


    color: #000000;
}
.text-17{
    position: absolute;
    width: 200px;
    height: 32px;
    left: 855px;
    top: 508px;


    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    /* identical to box height */


    color: #000000;
}
.text-18{
    position: absolute;
    width: 200px;
    height: 32px;
    left: 1268px;
    top: 508px;


    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    /* identical to box height */


    color: #000000;
}

.rec-004{
    left: 414px;
    top: 587px;
}
.img-04{
    left: 441px;
    top: 610px;
}
.pn-04{
    left: 585px;
    top: 603px;
}
.pi-04{
    left: 585px;
    top: 662px;
}
.line-004{
    left: 453px;
    top: 760px;
}
.text-19{
    position: absolute;
    width: 200px;
    height: 32px;
    left: 441px;
    top: 781px;

    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    /* identical to box height */


    color: #000000;
}

.rec-005{
    left: 827px;
    top: 587px;
}
.img-05{
    left: 855px;
    top: 610px;
}
.pn-05{
    left: 1000px;
    top: 603px;
}
.pi-05{
    left: 1000px;
    top: 662px;
}
.line-005{
    left: 868px;
    top: 760px;
}
.text-20{
    position: absolute;
    width: 200px;
    height: 32px;
    left: 855px;
    top: 781px;

    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    /* identical to box height */


    color: #000000;
}

.rec-006{
    left: 1242px;
    top: 587px;
}
.img-06{
    left: 1270px;
    top: 610px;
}
.pn-06{
    left: 1415px;
    top: 603px;
}
.pi-06{
    left: 1415px;
    top: 662px;
}
.line-006{
    left: 1283px;
    top: 760px;
}
.text-21{
    position: absolute;
    width: 200px;
    height: 32px;
    left: 1270px;
    top: 781px;

    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    /* identical to box height */


    color: #000000;
}