<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<th:block th:replace="~{/partials/header}"></th:block>
<body>
<div class="content">
    <div class="row">
        <div class="col-3">
            <img src="images/Lt1.webp" alt="">
        </div>

        <div class="col-6 py-3">
            <h3 class="fs-4">Laptop HP Envy x360 13-bf0096TU (i5-1230U/RAM 8GB/512GB SSD/ Windows 11)</h3>
            <h3 class="fs-5">Thương hiệu HP-SKU: 221003310 -Mã vạch:  457691</h3>
            <h3 class="text-primary fs-5">Giá: 22.990.000đ</h3>
        </div>

        <div class="col-3 py-2">
            <div class="row">
                <div class="col-2 py-4">
                    <img src="images/deli.webp" alt="">
                    <img src="images/Quality.webp" alt="">
                    <img src="images/refund.webp" alt="">
                </div>
                <div class="col-9 fs-6 py-3">
                    <ul class="list-unstyled">
                        <li><a>Miễn phí giao hàng cho đơn hàng từ 5 triệu </a></li>
                        <li><a>Cam kết hàng chính hãng 100% </a></li>
                        <li><a>Đổi trả trong vòng 10 ngày </a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container mt-3">
            <strong class="bg-primary text-white fs-4">Thông số kỹ thuật</strong>
            <table class="table table-bordered">
                <tbody>
                <tr>
                    <td>CPU</td>
                    <td>Intel Core i5-1230U</td>
                </tr>
                <tr>
                    <td>RAM</td>
                    <td>8GB Onboard LPDDR4X 4266MHz</td>
                </tr>
                <tr>
                    <td>Card đồ họa</td>
                    <td>Onboard Intel Iris Xe Graphics</td>
                </tr>
                <tr>
                    <td>Màn hình</td>
                    <td>13.3" ( 2880 x 1800 ) cảm ứng , HD webcam</td>
                </tr>
                <tr>
                    <td>Cổng giao tiếp</td>
                    <td>2 x USB 3.2 , 2 x Thunderbolt 4 , 1 x micro SD card slot , Audio combo</td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="mota">
            <table class="table table-bordered">
                <tbody>
                <tr>
                    <td class="text-center">Mô tả sản phẩm</td>
                </tr>
                <tr>
                    <td>Khi cầm trên tay chiếc Laptop HP Envy x360 13-bf0096TU, mình đã thực sự bị chinh phục bởi những gì mà HP đã mang đến trên chiếc máy này. Thiết kế mỏng nhẹ của máy cùng với chất liệu nhôm cao cấp tạo nên một sự sang trọng và hiện đại. Màn hình cảm ứng Full HD 13.3 inch cho hình ảnh sắc nét và đẹp mắt. Bàn phím có đèn nền LED cho phép làm việc trong điều kiện ánh sáng yếu và độ nhạy cao giúp người dùng nhập liệu dễ dàng. Độ hoàn thiện cũng như chi tiết được chăm chút tỉ mỉ, tạo nên một sản phẩm đáng giá cho người sử dụng. <br> <img src="img/Envy.jpeg" alt=""> <br>
                        Hãng HP vẫn khẳng định được vị thế hàng đầu của chiếc máy này trong phân khúc laptop văn phòng cao cấp. Laptop HP Envy x360 13-bf0096TU được thừa hưởng gần như toàn bộ những nét tinh túy nhất trong thiết kế của dòng HP Envy từ sự hoàn thiện tỉ mỉ đến vẻ ngoài sang trọng. <br> <img src="img/Envy1.jpeg" alt=""> <br>
                        Đầu tiên, chúng ta sẽ sở hữu một chiếc máy được hoàn thiện 100% bằng hợp kim nguyên khối cao cấp rất chắc chắn. Chính vì vậy mà khi cầm máy trên tay, bạn sẽ cảm nhận được sự thoải mái và đầm tay mỗi khi sử dụng máy mà không hề có cảm giác ọp ẹp. <br> <img src="img/Envy2.jpeg" alt=""> <br>
                        Dòng HP Envy x360 13-bf0096TU có lối thiết kế tổng thể khá vuông vức để làm nổi bật lên sự cá tính, mạnh mẽ và hiện đại của một chiếc máy cao cấp. Tuy nhiên thiết kế này vẫn không quá “cứng” đồng thời cũng rất phù hợp với những bạn nữ khi hãng đá bo tròn các cạnh để có cảm giác cầm nắm thoải mái. <br> <img src="img/Envy3.jpeg" alt=""> <br>
                        Kích thước và trọng lượng của chiếc HP Envy x360 13-bf0096TU sẽ làm bạn phải bất ngờ, dù sở hữu chiếc màn hình kích thước 13 inch nhưng chiếc máy này chỉ có cân nặng 1.3kg và độ mỏng 1.61cm. Nếu bạn là một fan của những chiếc máy mỏng nhẹ cấu hình ổn định để dễ dàng mang đi mọi nơi thì Laptop HP Envy x360 13-bf0096TU sẽ là một ứng cử viên sáng giá vì đây là một trong những chiếc laptop mỏng nhẹ nhất thế giới hiện nay. <br> <img src="img/Envy4.jpeg" alt=""> <br>
                        Một điểm khá đáng khen trên chiếc máy này nữa đó chính là nước sơn Xanh-Đen tông trầm vừa mang đến vẻ hiện đại và cứng cáp vừa chống bám dấu vân tay khá tốt. Nếu so với những sản phẩm khác trên thị trường thì mình nhận thấy HP Envy x360 13-bf0096TU đã làm rất tốt trong khâu này.
                    </td>
                </tr>
                </tbody>

            </table>
        </div>

        <div class="container mt-3">
            <strong class="bg-primary text-white fs-3">Sản phẩm cùng thương hiệu</strong>
            <div class="row">
                <div class="col-3 m-1">
                    <img src="images/cunghieu1.webp" alt="">
                    <h6>Bộ cấp nguồn/ Adaptor HP 18.5V 3.5A (Đầu kim) </h6>
                    <h6 class="text-primary fs-5"><br> Giá: 335.000đ</h6>
                </div>
                <div class="col-3">
                    <img src="images/cunghieu2.png" alt="">
                    <h6>Mực in HP CB435A </h6>
                    <h6 class="text-primary fs-5"><br> Giá: 2.390.000đ</h6>
                </div>
                <div class="col-3">
                    <img src="images/cunghieu3.webp" alt="">
                    <h6>Mực in HP CE312A </h6>
                    <h6 class="text-primary fs-5"> <br> Giá: 1.990.000₫</h6>
                </div>
                <div class="col-2">
                    <img src="images/cunghieu4.webp" alt="">
                    <h6>Mực in HP CE321A</h6>
                    <h6 class="text-primary fs-5"><br> Giá: 2.390.000đ</h6>
                </div>
            </div>
        </div>
</body>
<th:block th:replace="/partials/footer"></th:block>
</html>
