<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
    <link href="https://unpkg.com/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <title>Sản phẩm</title>
</head>
<body>
<th:block th:replace="~{/partials/header}"></th:block>
<div class="container">
    <!--  Content  -->
    <div class="row my-3">
        <div class="col col-3">
            <article class="filter-group">
                <header class="card-header">
                    <a aria-expanded="true" class="" data-bs-target="#collapse_2" data-bs-toggle="collapse" href="#">
                        <div class="row">
                            <div class="col"><h6 class="title">Thương hiệu </h6></div>
                            <div class="col-lg-2"><i class="icon-control fa fa-chevron-down"></i></div>
                        </div>
                    </a>
                </header>
                <div class="filter-content collapse show" id="collapse_2" style="">
                    <div class="card-body">
                        <label class="custom-control custom-checkbox">
                            <input checked class="custom-control-input" type="checkbox">
                            <div class="custom-control-label">All
                            </div>
                        </label>
                        <label class="custom-control custom-checkbox">
                            <input class="custom-control-input" type="checkbox">
                            <div class="custom-control-label">Macbook (Apple)</div>
                        </label>
                        <label class="custom-control custom-checkbox">
                            <input class="custom-control-input" type="checkbox">
                            <div class="custom-control-label">Asus</div>
                        </label>
                        <label class="custom-control custom-checkbox">
                            <input class="custom-control-input" type="checkbox">
                            <div class="custom-control-label">HP</div>
                        </label>
                        <label class="custom-control custom-checkbox">
                            <input class="custom-control-input" type="checkbox">
                            <div class="custom-control-label">Lenovo</div>
                        </label>
                        <label class="custom-control custom-checkbox">
                            <input class="custom-control-input" type="checkbox">
                            <div class="custom-control-label">Acer</div>
                        </label>
                        <label class="custom-control custom-checkbox">
                            <input class="custom-control-input" type="checkbox">
                            <div class="custom-control-label">Dell</div>
                        </label>
                        <label class="custom-control custom-checkbox">
                            <input class="custom-control-input" type="checkbox">
                            <div class="custom-control-label">MSI</div>
                        </label>
                        <label class="custom-control custom-checkbox">
                            <input class="custom-control-input" type="checkbox">
                            <div class="custom-control-label">Surface</div>
                        </label>
                    </div> <!-- card-body.// -->
                </div>
            </article> <!-- filter-group .// -->
            <article class="filter-group">
                <header class="card-header">
                    <a aria-expanded="true" class="" data-bs-target="#collapse_3" data-bs-toggle="collapse" href="#">
                        <div class="row">
                            <div class="col"><h6 class="title">Giá </h6></div>
                            <div class="col-lg-2"><i class="icon-control fa fa-chevron-down"></i></div>
                        </div>
                    </a>
                </header>
                <div class="filter-content collapse show" id="collapse_3" style="">
                    <div class="card-body">
                        <input class="form-range" max="100" min="0" name="" step="0.5" type="range">
                        <label class="custom-control custom-checkbox">
                            <input checked class="custom-control-input" type="checkbox">
                            <div class="custom-control-label">All</div>
                        </label>
                        <label class="custom-control custom-checkbox">
                            <input class="custom-control-input" type="checkbox">
                            <div class="custom-control-label"> < 15 millions</div>
                        </label>
                        <label class="custom-control custom-checkbox">
                            <input class="custom-control-input" type="checkbox">
                            <div class="custom-control-label"> 15 - 25 millions</div>
                        </label>
                        <label class="custom-control custom-checkbox">
                            <input class="custom-control-input" type="checkbox">
                            <div class="custom-control-label"> 25 - 35 millions</div>
                        </label>
                        <label class="custom-control custom-checkbox">
                            <input class="custom-control-input" type="checkbox">
                            <div class="custom-control-label"> 35 - 50 millions</div>
                        </label>
                        <label class="custom-control custom-checkbox">
                            <input class="custom-control-input" type="checkbox">
                            <div class="custom-control-label"> > 50 millions</div>
                        </label>
                    </div><!-- card-body.// -->
                </div>
            </article> <!-- filter-group .// -->

            <article class="filter-group">
                <header class="card-header">
                    <a aria-expanded="true" class="" data-bs-target="#collapse_4" data-bs-toggle="collapse" href="#">
                        <div class="row">
                            <div class="col"><h6 class="title">Màu sắc</h6></div>
                            <div class="col-lg-2"><i class="icon-control fa fa-chevron-down"></i></div>
                        </div>
                    </a>
                </header>
                <div class="filter-content collapse show" id="collapse_4" style="">
                    <div class="card-body">
                        <label class="custom-control custom-checkbox">
                            <input checked class="custom-control-input" type="checkbox">
                            <div class="custom-control-label">All</div>
                        </label>
                        <label class="custom-control custom-checkbox">
                            <input class="custom-control-input" type="checkbox">
                            <div class="custom-control-label">Đen</div>
                        </label>
                        <label class="custom-control custom-checkbox">
                            <input class="custom-control-input" type="checkbox">
                            <div class="custom-control-label">Bạc</div>
                        </label>
                        <label class="custom-control custom-checkbox">
                            <input class="custom-control-input" type="checkbox">
                            <div class="custom-control-label">Vàng</div>
                        </label>
                        <label class="custom-control custom-checkbox">
                            <input class="custom-control-input" type="checkbox">
                            <div class="custom-control-label">Hồng đỏ</div>
                        </label>
                        <label class="custom-control custom-checkbox">
                            <input class="custom-control-input" type="checkbox">
                            <div class="custom-control-label">Xanh</div>
                        </label>
                    </div><!-- card-body.// -->
                </div>
            </article> <!-- filter-group .// -->
            <article class="filter-group">
                <header class="card-header">
                    <a aria-expanded="true" class="" data-bs-target="#collapse_5" data-bs-toggle="collapse" href="#">
                        <div class="row">
                            <div class="col"><h6 class="title">Mục đích sử dụng</h6></div>
                            <div class="col-lg-2"><i class="icon-control fa fa-chevron-down"></i></div>
                        </div>
                    </a>
                </header>
                <div class="filter-content collapse show" id="collapse_5" style="">
                    <div class="card-body">
                        <label class="custom-control custom-checkbox">
                            <input checked class="custom-control-input" type="checkbox">
                            <div class="custom-control-label">All</div>
                        </label>
                        <label class="custom-control custom-checkbox">
                            <input class="custom-control-input" type="checkbox">
                            <div class="custom-control-label">Sinh viên</div>
                        </label>
                        <label class="custom-control custom-checkbox">
                            <input class="custom-control-input" type="checkbox">
                            <div class="custom-control-label">Gaming</div>
                        </label>
                        <label class="custom-control custom-checkbox">
                            <input class="custom-control-input" type="checkbox">
                            <div class="custom-control-label">Doanh nhân</div>
                        </label>
                        <label class="custom-control custom-checkbox">
                            <input class="custom-control-input" type="checkbox">
                            <div class="custom-control-label">Văn phòng</div>
                        </label>
                        <label class="custom-control custom-checkbox">
                            <input class="custom-control-input" type="checkbox">
                            <div class="custom-control-label">Mỏng nhẹ</div>
                        </label>
                    </div><!-- card-body.// -->
                </div>
            </article>
        </div>
        <div class="col col-9">
            <div class="row">

                <div class="col-md-4 my-3">
                    <div class="card card-product-grid rounded-2">
                        <div class="img-wrap">
                            <span class="badge rounded-pill badge-danger"> NEW </span>
                            <img alt="Image Product"
                                 class="rounded card-img-top"
                                 src="images/Lt1.webp">
                        </div>
                        <div class="info-wrap card-body">
                            <div class="fix-height">
                                <a class="card-title title" href="#">Laptop gì đó</a>
                                <div class="row price-wrap mb-2 mx-1">
                                    <div class="col-lg-7 rounded-pill bg-danger text-white my-3 text-center">
                                        <span class="price rounded-pill h6">20.000.000vnđ</span>
                                    </div>
                                    <div class="col-lg-5 pt-3">
                                        <del class="price-old"> Chỗ này là giá cũ</del>
                                    </div>
                                </div>
                            </div>
                            <div class="fix-height rounded p-3 text-muted" style="background-color: #e9ecef">
                                <div class="row quick-info">Trong này là cấu hinhf</div>
                            </div>
                        </div>

                        <a class="btn btn-block btn-primary" data-bs-toggle="modal" href="#">
                            <i class="fas fa-cart-plus fa-3xl me-1"></i>
                            Thêm vào giỏ hàng </a>
                    </div>
                </div>
                <div class="col-md-4 my-3">
                    <div class="card card-product-grid rounded-2">
                        <div class="img-wrap">
                            <span class="badge rounded-pill badge-danger"> NEW </span>
                            <img alt="Image Product"
                                 class="rounded card-img-top"
                                 src="images/Lt1.webp">
                        </div>
                        <div class="info-wrap card-body">
                            <div class="fix-height">
                                <a class="card-title title" href="#">Laptop gì đó</a>
                                <div class="row price-wrap mb-2 mx-1">
                                    <div class="col-lg-7 rounded-pill bg-danger text-white my-3 text-center">
                                        <span class="price rounded-pill h6">20.000.000vnđ</span>
                                    </div>
                                    <div class="col-lg-5 pt-3">
                                        <del class="price-old"> Chỗ này là giá cũ</del>
                                    </div>
                                </div>
                            </div>
                            <div class="fix-height rounded p-3 text-muted" style="background-color: #e9ecef">
                                <div class="row quick-info">Trong này là cấu hinhf</div>
                            </div>
                        </div>

                        <a class="btn btn-block btn-primary" data-bs-toggle="modal" href="#">
                            <i class="fas fa-cart-plus fa-3xl me-1"></i>
                            Thêm vào giỏ hàng </a>
                    </div>
                </div>
                <div class="col-md-4 my-3">
                    <div class="card card-product-grid rounded-2">
                        <div class="img-wrap">
                            <span class="badge rounded-pill badge-danger"> NEW </span>
                            <img alt="Image Product"
                                 class="rounded card-img-top"
                                 src="images/Lt1.webp">
                        </div>
                        <div class="info-wrap card-body">
                            <div class="fix-height">
                                <a class="card-title title" href="#">Laptop gì đó</a>
                                <div class="row price-wrap mb-2 mx-1">
                                    <div class="col-lg-7 rounded-pill bg-danger text-white my-3 text-center">
                                        <span class="price rounded-pill h6">20.000.000vnđ</span>
                                    </div>
                                    <div class="col-lg-5 pt-3">
                                        <del class="price-old"> Chỗ này là giá cũ</del>
                                    </div>
                                </div>
                            </div>
                            <div class="fix-height rounded p-3 text-muted" style="background-color: #e9ecef">
                                <div class="row quick-info">Trong này là cấu hinhf</div>
                            </div>
                        </div>

                        <a class="btn btn-block btn-primary" data-bs-toggle="modal" href="#">
                            <i class="fas fa-cart-plus fa-3xl me-1"></i>
                            Thêm vào giỏ hàng </a>
                    </div>
                </div>
                <div class="col-md-4 my-3">
                    <div class="card card-product-grid rounded-2">
                        <div class="img-wrap">
                            <span class="badge rounded-pill badge-danger"> NEW </span>
                            <img alt="Image Product"
                                 class="rounded card-img-top"
                                 src="images/Lt1.webp">
                        </div>
                        <div class="info-wrap card-body">
                            <div class="fix-height">
                                <a class="card-title title" href="#">Laptop gì đó</a>
                                <div class="row price-wrap mb-2 mx-1">
                                    <div class="col-lg-7 rounded-pill bg-danger text-white my-3 text-center">
                                        <span class="price rounded-pill h6">20.000.000vnđ</span>
                                    </div>
                                    <div class="col-lg-5 pt-3">
                                        <del class="price-old"> Chỗ này là giá cũ</del>
                                    </div>
                                </div>
                            </div>
                            <div class="fix-height rounded p-3 text-muted" style="background-color: #e9ecef">
                                <div class="row quick-info">Trong này là cấu hinhf</div>
                            </div>
                        </div>

                        <a class="btn btn-block btn-primary" data-bs-toggle="modal" href="#">
                            <i class="fas fa-cart-plus fa-3xl me-1"></i>
                            Thêm vào giỏ hàng </a>
                    </div>
                </div>
            </div>
            <nav aria-label="Page navigation example" class="mx-auto d-flex justify-content-center my-5">
                <ul class="pagination">
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">...</a></li>
                    <li class="page-item"><a class="page-link" href="#">19</a></li>
                    <li class="page-item"><a class="page-link" href="#">20</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>
<th:block th:replace="/partials/footer"></th:block>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"></script>
</body>
</html>