<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Warranty</title>   
    <link rel="stylesheet" href="css\warranty.css">

</head>
<body>
    <div class="rec-01"></div>
    <span class="text-01">CHÍNH SÁCH BẢO HÀNH</span>
    <span class="text-02">TẠI P4nthers</span>
    <img class="img-01" src="images\panther.png">

    <div class="text-03">I. CÁC BƯỚC BẢO HÀNH</div>
    <div class="rec-02"></div>
    <div class="rec-03"></div>
    <span class="text-04">Bước 1</span>

    <div class="rec-04"></div>
    <div class="rec-05"></div>
    <span class="text-05">Bước 2</span>

    <div class="rec-06"></div>
    <div class="rec-07"></div>
    <span class="text-06">Bước 3</span>

    <div class="rec-08"></div>
    <span class="text-07">II. ĐIỀU KIỆN BẢO HÀNH</span>
    <span class="text-08">Sản phẩm đủ điều kiện bảo hành</span>
    <div class="line-01"></div>
    <div class="line-02"></div>
    <span class="text-09">Sản phẩm không đủ điều kiện bảo hành</span>

    <span class="text-10">III. CHÍNH SÁCH BẢO HÀNH CHUNG</span>
    
</body>

</html>